{% extends 'base.html' %}

{% block title %}Albums{% endblock %}

{% block content %}
<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">

            <!-- Heading -->
            {% include "includes/album_heading_with_buttons.html" with title="Albums" create_url="album_create" model_name="album" app_label="viewer" %}

            <!-- Top controls -->
            {% include "includes/top_controls.html" %}

            <!-- Alphabet filter -->
            {% include "includes/alphabet_filter.html" %}

            <!-- Albums list -->
            {% include "includes/album_list_group.html" %}

            <!-- Pagination controls -->
            {% include "includes/pagination_controls.html" %}

        </div>
    </div>
</div>
{% endblock %}
