{% extends 'base.html' %}

{% block title %}Countries{% endblock %}

{% block content %}
<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">

            <!-- Heading -->
            {% include "includes/headers/page_heading_with_buttons.html" with title="Artists in countries" create_url='country_create' %}

            <!-- Top controls -->
            {% include "includes/top_controls.html" %}

            <!-- Alphabet filter -->
            {% include "includes/alphabet_filter.html" %}

            <!-- List -->
            <div class="bg-body-secondary rounded p-1 shadow-sm">
                <div class="list-group">
                    {% for country in countries %}
                        {% include "includes/shared/list_item.html" with object=country object_url_name="country" update_url_name="country_update" delete_url_name="country_delete" badge_count=country.all_artists_and_music_groups_count %}
                    {% empty %}
                        <div class="list-group-item text-center text-muted">There are no countries.</div>
                    {% endfor %}
                </div>
            </div>

            <!-- Pagination -->
            {% include "includes/pagination_controls.html" %}

        </div>
    </div>
</div>
{% endblock %}
