{% extends 'base.html' %}

{% block title %}
    List of genres
{% endblock %}

{% block content %}
    <h1>Genre list</h1>
    <ul>
        {% for genre in genres %}
            <li>
                <a href="{% url 'genre' genre.id %}">{{ genre }}</a> ({{ genre.song_set.count }})
                <ul>
                    {% for song in genre.song_set.all %}
                        <li><a href="{% url 'song' song.id %}">{{ song }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li>There is no genre in the database.</li>
        {% endfor %}
    </ul>
{% endblock %}
