{% extends 'base.html' %}

{% block title %}Songs in {{ language.name }}{% endblock %}

{% block content %}
<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">

            <!-- Heading -->
            {% with "Song in languages: "|add:language.name as full_title %}
                {% include "includes/language_heading_with_buttons.html" with title=full_title update_kwargs=language.pk update_url="language_update" update_label="language" delete_url="language_delete" delete_kwargs=language.pk delete_label="language" create_url="song_create"%}
            {% endwith %}

            <!-- Top controls -->
            {% include "includes/top_controls.html" with create_url='song_create' create_label="song" %}

            <!-- Alphabet filter -->
            {% include "includes/alphabet_filter.html" %}

            <!-- Songs list -->
            {% include "includes/song_list_group.html" %}

            <!-- Pagination controls -->
            {% include "includes/pagination_controls.html" %}

        </div>
    </div>
</div>
{% endblock %}
