{% extends 'base.html' %}

{% block title %}Songs in {{ language.name }}{% endblock %}

{% block content %}
<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">

            <!-- Heading -->
            {% with "Song in languages: "|add:language.name as full_title %}
                {% include "includes/page_heading.html" with title=full_title %}
            {% endwith %}

            <!-- Top controls -->
            {% include "includes/top_controls.html" with create_url='song_create' create_label="song" %}

            <!-- Alphabet filter -->
            {% include "includes/alphabet_filter.html" %}

            <!-- Songs list -->
            {% include "includes/song_list_group.html" %}

            <!-- Pagination controls -->
            {% include "includes/pagination_controls.html" %}

        </div>
    </div>
</div>
{% endblock %}
