{% extends 'base.html' %}

{% block title %}Music Groups{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-10">

            <!-- Heading -->
            {% include "includes/music_group_heading_with_buttons.html" with title="Music Groups" create_url='music_group_create' %}

            <!-- Top controls -->
            {% include "includes/top_controls.html" %}

            <!-- Alphabet filter -->
            {% include "includes/alphabet_filter.html" %}

            <!-- Music Groups list -->
            {% include "includes/music_group_list_group.html" %}

            <!-- Pagination controls -->
            {% include "includes/pagination_controls.html" %}

        </div>
    </div>
</div>
{% endblock %}
