{% extends 'base.html' %}

{% block title %}Songs{% endblock %}

{% block content %}
<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">

            <!-- Heading -->
            {% include "includes/headers/page_heading_with_buttons.html" with title="Songs" create_url="song_create" %}

            <!-- Top controls -->
            {% include "includes/top_controls.html" with create_url='song_create' create_label="song" %}

            <!-- Alphabet filter -->
            {% include "includes/alphabet_filter.html" %}

            <!-- Songs list -->
            {% include "includes/song_list_group.html" %}

            <!-- Pagination -->
            {% include "includes/pagination_controls.html" %}

        </div>
    </div>
</div>
{% endblock %}
