/* Přepíše pozadí pro celý web v dark režimu */
html {
  overflow-y: scroll;
}

html[data-bs-theme="light"] body {
    background-color: #f8f9fa; /* vlastní tmavý odstín */
}

.hover-link {
    color: var(--bs-primary);              /* Výchozí barva (Bootstrap primary) */
    text-decoration: none;
    transition: color 0.3s ease-in-out;    /* Plynulá změna barvy */
    font-weight: 400;
}

.hover-link:hover {
    color: var(--bs-info);               /* Cílová barva – např. červená */
}

.hover-badge {
    background-color: var(--bs-primary);   /* Výchozí pozadí */
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Plynulý přechod */
    padding: 0.25em 0.6em;                  /* Můžeš ladit podle potřeby */
    border-radius: 0.375rem;                /* Stejné zaoblení jako Bootstrap badge */
    display: inline-block;
}

.hover-badge:hover {
    background-color: var(--bs-info);   /* Barva pozadí při hoveru */
    cursor: pointer;
}

.nav-link.active {
    color: var(--bs-primary);
    /* nebo tučnější text */
}

.nav-link:not(.active):hover {
    color: var(--bs-primary);
    transition: color 0.3s ease-in-out;
    text-decoration: none; /* můžeš upravit, jestli chceš podtržení nebo ne */
}

.active-custom {
    color: var(--bs-primary);
    font-weight: 500;
}

.header-custom {
    font-weight: 600
}

.text-justify {
    text-align: justify;
}

.card-cover {
  aspect-ratio: 1 / 1;  /* poměr šířky a výšky 1:1 */
  background-size: cover; /* obrázek vyplní celý box */
  background-position: center;
}

.card-title-custom {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.75);
}

.card-year-custom {
    font-size: 1.2rem;
    font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}

.footer-no-wrap {
  white-space: nowrap;
}