.spin {
    animation: spin 0.5s linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Moved search icon (magnifier) to the right */
#search-btn {
    margin-left: 8px;
}

/*#test-spinner {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    border: 3px solid #0d6efd; !* modrá barva z Bootstrapu *!*/
/*    border-top: 3px solid transparent; !* horní část průhledná *!*/
/*    border-radius: 50%;*/
/*    animation: spin 1.5s linear infinite;*/
/*}*/