<!DOCTYPE html>
{% load static %}

<html lang="{{ LANGUAGE_CODE|default:'en-us' }}" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/svg+xml">


    <title>
        {% block title %}
            Music Library
        {% endblock %}
    </title>

{% block extra_head %}
    {# Bootstrap CSS v5.3.7. #}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {# Custom CSS overrides for margin, padding and overflow #}
    <link rel="stylesheet" href="{% static 'css/reset-and-overrides.css' %}">
    {# Custom CSS overrides for project specific styles #}
    <link rel="stylesheet" href="{% static 'css/custom-overrides.css' %}">
{% endblock %}

</head>

<body>
    {# Include SVG sprites for reusable icons or inline SVGs #}
    {% include 'sprites.html' %}

    {% include 'navbar.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'footer.html' %}

    {# Local Bootstrap JS bundle v5.3.7. #}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {# Search button #}
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    {# Include login modal, available on all pages #}
    {% include 'includes/login_modal.html' %}
</body>

</html>
