<!DOCTYPE html>
{% load static %}

<html lang="{{ LANGUAGE_CODE|default:'en-us' }}" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/svg+xml">


    <title>
        {% block title %}
            Music Library
        {% endblock %}
    </title>

{% block extra_head %}
    {# Bootstrap CSS v5.3.7. #}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    {# Custom CSS overrides for margin, padding and overflow #}
    <link rel="stylesheet" href="{% static 'css/reset-and-overrides.css' %}">
    {# Custom CSS overrides for project specific styles #}
    <link rel="stylesheet" href="{% static 'css/custom-overrides.css' %}">
    {# Global link for spinning search under the magnifier button #}
    <link rel="stylesheet" href="{% static 'css/spinning-search-button.css' %}">
{% endblock %}

</head>

<body>
    {# Include SVG sprites for reusable icons or inline SVGs #}
    {% include 'sprites.html' %}

    {% include 'navbar.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'footer.html' %}

    {# Local Bootstrap JS bundle v5.3.7. #}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {# Search button #}
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    {# Include login modal, available on all pages #}
    {% include 'includes/login_modal.html' %}
{# Include login modal so it's available on all pages #}
{% include 'includes/login_modal.html' %}

{#<script>#}
{# Closes dropdown when clicked outside #}
{#document.addEventListener('click', function (event) {#}
{#    const searchForm = document.querySelector('form[autocomplete="off"]');#}
{#    const dropdown = document.getElementById('search-results');#}
{#    if (!searchForm.contains(event.target)) {#}
{#        dropdown.innerHTML = '';#}
{#    }#}
{#});#}
{#</script>#}

<script>
{# Start rotating wheel animation + also by clicking pc enter btn #}
function spinIcon() {
    const icon = document.getElementById('search-icon');
    icon.classList.add('spin');
    setTimeout(() => icon.classList.remove('spin'), 1500);
}

document.getElementById('search-btn').addEventListener('click', function(e) {
    e.preventDefault(); // Zabráníme okamžitému odeslání
    spinIcon();
    setTimeout(() => {
        this.form.submit();
    }, 500); // čekáme 1.5s, aby animace doběhla
});


document.querySelector('input[name="q"]').addEventListener('keydown', function(e) {
    if (e.key === 'Enter') {
        e.preventDefault();  // Zabráníme okamžitému odeslání
        spinIcon();
        // Počkej 1.5 s (doba animace) a pak odešli formulář
        setTimeout(() => {
            this.form.submit();
        }, 500);
    }
});
</script>

</body>

</html>
